.grid {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 40em) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    display: grid;
  }
  .grid .grid--card {
    position: relative;
    height: 95%;
  }
  .grid .grid--card:nth-of-type(1) {
    grid-column: 1 / -1;
    grid-row: 1 / span 3;
  }
  .grid .grid--card:nth-of-type(2) {
    grid-column: 1 / span 2;
    grid-row: 4 / -1;
  }
  .grid .grid--card:nth-of-type(3) {
    grid-column: 3 / -1;
    grid-row: 4 / -1;
  }
  .card--chart {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}