.RenderPieChart
    &__Wrapper
        padding-bottom  56.25%
        position relative
        height 0
    &__Container
        position absolute
        top 0
        left 0
        width 100%
        height 100%